.profile-box {
  width: 100%;
  height: 100%;
  background: var(--color-white);
  box-shadow: var(--box-shadow-color);
  border-radius: 16px;
}

.profile-content-container {
  padding: 25px 150px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content-padding-top {
  padding-top: 50px;
}

.profile-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-accordian {
  padding: 10px;
  width: 74.5%;
  border: 1px solid var(--color-light);
  border-radius: 13px;
}

.change-pic {
  float: right;
  width: 24.5%;
  display: flex;
  justify-content: center;
}

.full-name {
  width: 100%;
  padding: 5px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-name > .name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-container > input {
  margin: 2px;
  height: 40px;
  border: var(--border-light);
  border-radius: 8px;
  width: 100%;
  min-width: 275px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.content-container > span {
  font-family: Noto sans-serif;
  font-weight: 700;
  font-size: 33.49px;
  line-height: 43.53px;
  color: var(--color-light-black);
}

.break-line {
  width: 100%;
  margin: 5px;
  border: 1px solid #f2f2f2;
}

.full-name-size {
  font-size: 16.74px;
  font-weight: 700;
}

.date-of-birth {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.date-of-birth > input {
  width: 32%;
  margin: 5px;
  height: 50px;
  border: var(--border-light);
  border-radius: 8px;
  padding-inline: 15px;
}

.Picture {
  width: 200px;
  height: 200px;
  background-color: #f9f8fa;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23D5D2DCFF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 13px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 10px;
  position: relative;
}

.icon-box > .profile-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}

.icon-box > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
}

.profile-submit {
  background: var(--linear-grediant_1), var(--linear-gredient);
  border: 0;
  color: var(--color-white);
  padding: 8px 28px;
  border-radius: 16px;
  transition: 0.5s;
}

.profile-submit:hover {
  background: var(--color-white);
  color: var(--color-primary);
  padding: 9px 28px;
  border: 1px solid var(--color-primary);
}

@media (max-width: 1461px) {
  .profile-content-container {
    padding: 25px 100px;
  }
}

@media (max-width: 1400px) {
  .profile-content-container {
    padding: 25px 80px;
  }
}

@media (max-width: 1360px) {
  .profile-content-container {
    padding: 25px 40px;
  }
}

@media (max-width: 1280px) {
  .profile-content-container {
    padding: 25px 20px;
  }
}

@media (max-width: 1200px) {
  .profile-content-container {
    padding: 25px 10px;
  }

  .profile-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .change-pic {
    float: none;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 43px 0px;
  }

  .icon-box > input {
    width: 100%;
    height: 180px;
  }

  .icon-box > .profile-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .Picture {
    padding: 10px;
    width: 74.5%;
  }

  .change-pic {
    float: none;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 43px 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .profile-accordian {
    width: 100%;
  }

  .date-of-birth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .date-of-birth > input {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .name-container > input {
    min-width: 225px;
  }
}

@media (max-width: 375px) {
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .name-container > input {
    min-width: 180px;
  }
}
